@using PES.Models
@{
    // Check if user is logged in
    var userLogged = Session["UserName"] != null ? true : false;
    var userName = Session["UserName"] != null ? (string)Session["UserName"] : "";
    ProfileUser userProfile = Session["UserProfile"] != null ? (ProfileUser)Session["UserProfile"] : ProfileUser.None;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Performance Evaluation System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="4th Source" src="~/Content/images/4thSource_logo.png" height="40">
                </a>
                @if (userLogged)
                {
                    if (userProfile == ProfileUser.Director || userProfile == ProfileUser.Manager)
                    {
                        <a class="navbar-brand" href="@Url.Action("Index", "PerformanceEvaluation", new { area = "" })">Performance Evaluation System</a>
                    }
                    else if (userProfile == ProfileUser.Resource)
                    {
                        <span class="navbar-brand">Performance Evaluation System</span>
                    }

                }
                else
                {
                    <a class="navbar-brand" href="@Url.Action("Login", "LoginUser", new { area = "" })">Performance Evaluation System</a>
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (userLogged && (userProfile == ProfileUser.Director || userProfile == ProfileUser.Manager))
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("SearchInformation", "PerformanceEvaluation")">Performance Files</a></li>
                                <li><a href="@Url.Action("UploadFile", "PerformanceEvaluation")">Upload Performance File</a></li>
                                <li><a href="@Url.Action("ViewEmployees","Employee")">User Administration</a></li>
                                <li><a href="@Url.Action("TransferEmployees","Employee")">Transfer Employees</a></li>
                            </ul>
                        </li>
                    </ul>
                }

                @if (userLogged)
                {
                    <div class="navbar-text navbar-right">
                        <span>@userName</span>
                        <a type="button" class="btn btn-xs btn-sm" href="@Url.Action("Logout","LoginUser")">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                        @if (userProfile == ProfileUser.Director || userProfile == ProfileUser.Manager)
                        {
                        <div class="text-center">
                            <span class="glyphicon glyphicon-check"></span>
                            <a class="btn-link" href="@Url.Action("EmployeeDetails", "Employee", new { email = Session["UserEmail"]})">View my information</a>
                            
                        </div>
                        }
                    </div>
                }
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @if (TempData["Error"] != null)
                {
                    <br />
                    <p class="alert alert-danger">@TempData["Error"]</p>
                }
                @if (TempData["Success"] != null)
                {
                    <br />
                    <p class="alert alert-success">@TempData["Success"]</p>
                }
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Performance Evaluation System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("Scripts", required: false)
</body>
</html>
