@model PES.ViewModels.StatusRequestViewModel

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        @using (Html.BeginForm("AcctionRequest", "VacationRequest", FormMethod.Post))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">
                    Request Confirmation
                </h4>
            </div>
            <div class="row">
               <div class="modal-body">
                     Are you sure you want to rejecting this request?

                   <div class="form-horizontal">
                       @Html.AntiForgeryToken()
                       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  </div>
                   <br />
                   <div class="form-group row">
                       <fieldset>
                           @Html.HiddenFor(model => model.HeaderRequestId)
                           <input name="currentStatusId" type="hidden" value="2" />

                           @Html.LabelFor(model => model.Reason, " Please add a reject reason", new { @class = "control-label " })
                           
                               @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control col-md-offset-3 col-sm-offset-3 col-xs-offset-3" } })
                               @Html.ValidationMessageFor(model => model.Reason, " ", new { @class = "text-danger" })
                       </fieldset>
                   </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
                <!-- IF the request is canceled shot event to change the satus to cancel and redirected to history list and also send emails to director and user.-->

                <input type="submit" class="btn btn-danger" value="Reject Status" />
            </div>
        }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Small modal end -->