@model PES.ViewModels.PerformanceFilesPartial
@using PES.Models

@if(Model.countRankUpdated.HasValue)
{
    <p class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@Model.countRankUpdated</strong> record(s) updated successfully.
    </p>
}
<table id="Tableview" border="1" class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>Employee</th>
            <th class="col-md-2">Position</th>
            @if (Model.currentUser.ProfileId == (int)ProfileUser.Director)
            {
                <th>Manager</th>
            }
            <th>Final Score</th>
            <th>English Score</th>
            <th>Total 1</th>
            @if (Model.currentUser.ProfileId == (int)ProfileUser.Director)
            {
                <th style="width: 5%">Rank</th>
                <th>T1 * Rank</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var employeeM in Model.listFiles)
        {
            <tr>
                <td><a href="@Url.Action("ChoosePeriod", "PerformanceEvaluation", new { employeeEmail = employeeM.employee.Email, employeeID = employeeM.employee.EmployeeId})">@(employeeM.employee.FirstName + " " + employeeM.employee.LastName)</a></td>
                <td>@(employeeM.employee.Position)</td>
                @if (Model.currentUser.ProfileId == (int)ProfileUser.Director)
                {
                    <td>@(employeeM.manager.FirstName + " " + employeeM.manager.LastName)</td>
                }
                @if (employeeM.lastPe != null)
                {
                    double total1 = 0;
                    @*@Html.Hidden("performanceId" + employeeM.lastPe.PEId, employeeM.lastPe.PEId)*@
                    <td>@Math.Round(employeeM.lastPe.Total, 2)</td>
                    <td>@Math.Round(employeeM.lastPe.EnglishScore, 2)</td>
                    <td id="total1@(employeeM.employee.EmployeeId)">@Math.Round(total1 = employeeM.lastPe.Total + employeeM.lastPe.EnglishScore, 2)</td>
                    if (Model.currentUser.ProfileId == (int)ProfileUser.Director)
                    {
                        <td id="rank@(employeeM.lastPe.PEId)"><input type="text" style="width: 100%" value="@employeeM.lastPe.Rank" onchange="calculate(@employeeM.lastPe.PEId, this);" /></td>
                        <td id="t1Rank@(employeeM.lastPe.PEId)">@Math.Round(Convert.ToDecimal((employeeM.lastPe.Rank.HasValue ? employeeM.lastPe.Rank : 0) * total1))</td>
                    }
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    if (Model.currentUser.ProfileId == (int)ProfileUser.Director)
                    {
                        <td><input type="text" style="width: 100%" value="" disabled /></td>
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

