@model PES.ViewModels.PerformanceMainPartial

<div class="row">
    <div class="col-md-6">
        <h3>Employee Evaluated</h3>
        <p>Name: @(Model.Employee.FirstName + " " + Model.Employee.LastName)</p>
        <p>Position: @Model.Employee.Position</p>
        <p>Customer: @Model.Employee.Customer</p>
        <p>Project: @Model.Employee.Project</p>
    </div>
    <div class="col-md-5">
        <h3>Team Leader/Evaluator</h3>
        <p>Name: @(Model.Evaluator.FirstName + " " + Model.Evaluator.LastName)</p>
        <p>Position: @Model.Evaluator.Position</p>
    </div>
    <div class="col-md-1">
        <h3>Total (Performance + Competences)</h3>
        <p>@Model.totalEvaluation</p>
    </div>
</div>
