@model PES.ViewModels.PerformanceSectionsPartial

<table id="TableSections" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Description</th>
            <th>Self Assessment</th>
            <th>Evaluator</th>
            <th>Comment</th>
            <th>Calculation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sectionP in Model.Sections)
        {
            <tr>
                <td>@sectionP.Title</td>
                <td>@sectionP.Subtitle</td>
                <td>@sectionP.Description</td>
                <td>@Math.Round(Convert.ToDecimal(sectionP.ScoreEmployee), 2)</td>
                <td>@Math.Round(Convert.ToDecimal(sectionP.ScoreEvaluator), 2)</td>
                <td>@sectionP.Comments</td>
                <td>@Math.Round(sectionP.Calculation, 2)</td>
            </tr>
        }
    </tbody>
</table>

