@* Partial view to a Existing Request *@
@using PES.Models;

@{
    int useProfile = (int)Session["UserProfile"];
}
<div class="form-group datesGroup">
    <hr class="divisor">
    <div id="subDatesGroup" class="form-group">
        <div id="datesCont" class="container flexEnd">
            <div class="col-md-3 text-center">
                <label for="start">Start Date - End Date</label>
                <input id="start" type="text" name="subRequest[0].date" class="form-control text-center datesBox daterange" data-val="true" data-val-required="Start date is required" value="@Model.StartDate.ToString("MM/dd/yyyy") - @Model.EndDate.ToString("MM/dd/yyyy")" @(Model.status.ToLower() == "rejected" && useProfile != (int)ProfileUser.Manager ? null : new { disabled = "disabled" }) />



                <span class="field-validation-valid text-danger" data-valmsg-for="start" data-valmsg-replace="true"></span>
            </div>
            <div class="col-md-3">
                <label>Return Date</label>
                <input id="returnDay" type="text" name="subRequest[0].ReturnDate" class="form-control returnBox" value="@Model.ReturnDate.ToString("MM/dd/yyyy") " @(Model.status.ToLower() == "rejected" && useProfile != (int)ProfileUser.Manager ? null : new { disabled = "disabled" }) />

            </div>
            <div class="col-sm-2 col-lg-4 col-md-5 col-lg-1">
                <button onclick="addDate(this)" type="button" class="btn btn-default addBtn addatebtn" @(Model.status.ToLower() == "rejected" && useProfile != (int)ProfileUser.Manager || Model.status == "New" && useProfile != (int)ProfileUser.Manager ? null : new { disabled = "disabled" })>
                    Add Date
                </button>
            </div>
        </div> <!-- container end -->
    </div> <!-- subform-group end -->
    <div id="subDatesGroup" class="form-group">
        <div id="datesCont" class="container flexCenter">
            <div id="leadName" class="col-md-4">
                <label for="lead" class="control-label">Lead Name</label>
                <div>
                    <input id="lead" type="text" name="subRequest[0].lead_name" value="@Model.LeadName" @{ @(Model.status.ToLower() == "rejected" && useProfile != (int)ProfileUser.Manager ? null : new { disabled = "disabled" }) } class="form-control leadBox" />
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-for="lead" data-valmsg-replace="true"></span>
            </div>
            <div id="checkarea" class="col-md-2 checkbox">
                <label id="checktext">
                    <input type="checkbox" id="unpaid" checked="@(Convert.ToString(Model.HaveProject) == "False" ? "checked" : "")" @(Model.status.ToLower() == "rejected" && useProfile != (int)ProfileUser.Manager ? null : new { disabled = "disabled" }) />
                    <script>
                        document.getElementById("checktext").innerHTML += "I do not have a project";
                    </script>
                </label>
            </div>

            <div class="removeBtn col-md-2 hidden">
                <button onclick="removeDate(this)" type="button" class="btn btn-danger btn-block">Remove Date</button>
            </div>
        </div> <!-- container end -->
    </div> <!-- subform-group end -->
</div>
<!-- form-group end -->
