@model IEnumerable<PES.ViewModels.EmployeeDetailsViewModel>
@using PES.Models;
@{
    ViewBag.Title = "ViewEmployeesPartial";
}

<div class="well table-responsive" id="table-div">
    <table class="table" id="table-employees">
        <thead>
            <tr>
                <th class="disableTextDecoration">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th class="disableTextDecoration">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th class="disableTextDecoration">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="disableTextDecoration">
                    Profile
                </th>
                <th class="disableTextDecoration">
                    Manager
                </th>
                <th class="disableTextDecoration">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.Hidden("Id", item.EmployeeId)
                    <td class="@(item.EndDate != null ? "line-through" : "")">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="@(item.EndDate != null ? "line-through" : "")">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="@(item.EndDate != null ? "line-through" : "")">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="@(item.EndDate != null ? "line-through" : "")">
                        @(item.Profile.Name)
                    </td>
                    @if (item.ProfileId == (int)ProfileUser.Director)
                {
                        <td class="@(item.EndDate != null ? "line-through" : "")">
                            @(item.FirstName + " " + item.LastName)
                        </td>
                    }
                    else
                    {
                        <td class="@(item.EndDate != null ? "line-through" : "")">
                            @(item.Manager.FirstName + " " + item.Manager.LastName)
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "UpdateEmployee", "Employee", new { id = item.EmployeeId }, new { @class = "edit-button" }) |
                        @Html.ActionLink("Details", "EmployeeDetails", "Employee", new { email = item.Email }, null) |
                        <a href="#" class="enableDisable" data-employee-id="@item.EmployeeId" data-option="@(item.EndDate != null ? "enable" : "disable")">@(item.EndDate != null ? "Enable" : "Disable")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


