@* View of the Historical Vacation Requests *@
    @model IEnumerable<PES.ViewModels.VacHeadReqViewModel>
    @using PES.Models
    @{
        int userID = ViewBag.UserID != null ? (int)ViewBag.UserID : 0;
        int freeDays = ViewBag.FreeDays != null ? (int)ViewBag.FreeDays : 0;
        int profileId = ViewBag.profileId != null ? (int)ViewBag.profileId : 0;
    }
    <div class="row text-center">
        <br />
        <div class="col-md-12">
            <h2>Vacation Resquest History </h2>
        </div>
    </div>
    <div class="well">
        <div id="freeDaysArea" class="text-right">
            <label>
                Available Days:
                <span id="availableDays" class="label label-default">@freeDays</span>
            </label>
        </div>
        <ul class="nav nav-tabs">
            <li class="active" id="pending-tab"><a data-toggle="tab" href="#pending" class="pending-tab">Pending</a></li>
            <li id="rejected-tab"><a data-toggle="tab" href="#rejected" class="rejected-tab">Rejected</a></li>
            <li id="approved-tab"><a data-toggle="tab" href="#approved" class="approved-tab">Approved</a></li>
            <li id="canceled-tab"><a data-toggle="tab" href="#canceled" class="canceled-tab">Canceled</a></li>
        </ul>

        <div class="tab-content">
            <div id="pending" class="tab-pane fade in active">
                <table id="Tableview" border="1" class="table table-striped">
                    <thead>
                        <tr>
                            @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                            {
                                <th>Name</th>
                            }
                            <th id="header_title">Title</th>
                            <th id="header_days">Days</th>
                            <th id="header_start_date">Start Date</th>
                            <th id="header_end_date">End Date</th>
                            <th id="header_return_date">Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var headerVM in Model)
                        {
                            if (headerVM.status.ToLower() == "pending")
                            {
                                string style = headerVM.HaveProject == 'N' ? "background-color:#f1bc30" : "";
                                <tr>
                                    @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                                    {
                                        <td style= "@style">@headerVM.FirstName @headerVM.LastName</td>
                                    }
                                    <td style="@style">
                                        <a href="@Url.Action("GetVacationRequest", "VacationRequest", new { haderReqId = headerVM.VacationHeaderReqId })">
                                            @{
                                                @(headerVM.Title)
                                            }
                                        </a>
                                    </td>
                                    <td style="@style">@headerVM.NoVacDays</td>
                                    <td style="@style">@headerVM.StartDate.ToShortDateString()</td>
                                    <td style="@style">@headerVM.EndDate.ToShortDateString()</td>
                                    <td style="@style">@headerVM.ReturnDate.ToShortDateString()</td>
                                </tr>
                                                    }
                                                }*@ 
                        @foreach (var headerVM in Model)
                        {
                            if (headerVM.status.ToLower() == "pending")
                            {
                                <tr>
                                    @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                                    {
                                        <td>@headerVM.FirstName @headerVM.LastName</td>
                                    }
                                    <td>
                                        <a href="@Url.Action("GetVacationRequest", "VacationRequest", new { headerReqId = headerVM.VacationHeaderReqId })">
                                            @{
                                                @(headerVM.Title)
                                            }
                                        </a>
                                    </td>
                                    <td>@headerVM.NoVacDays</td>
                                    <td>@headerVM.StartDate.ToShortDateString()</td>
                                    <td>@headerVM.EndDate.ToShortDateString()</td>
                                    <td>@headerVM.ReturnDate.ToShortDateString()</td>
                                </tr>
                                                    }
                                                }
                    </tbody>
                </table>
            </div>
            <div id="rejected" class="tab-pane fade">
                <table id="Tableview" border="1" class="table table-striped">
                    <thead>
                        <tr>
                            @if (profileId == (int)ProfileUser.Manager)
                            {
                                <th>Name</th>
                            }
                            <th id="header_title">Title</th>
                            <th id="header_days">Days</th>
                            <th id="header_start_date">Start Date</th>
                            <th id="header_end_date">End Date</th>
                            <th id="header_return_date">Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var headerVM in Model)
                        {
                            if (headerVM.status.ToLower() == "rejected")
                            {
                                <tr>
                                    @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                                    {
                                        <td>@headerVM.FirstName @headerVM.LastName</td>
                                    }
                                    <td>
                                        <a href="@Url.Action("GetVacationRequest", "VacationRequest", new { headerReqId = headerVM.VacationHeaderReqId })">
                                            @{

                                                @(headerVM.Title)

                                            }
                                        </a>
                                    </td>
                                    <td>@headerVM.NoVacDays</td>
                                    <td>@headerVM.StartDate.ToShortDateString()</td>
                                    <td>@headerVM.EndDate.ToShortDateString()</td>
                                    <td>@headerVM.ReturnDate.ToShortDateString()</td>
                                </tr>
                            }
                         }
                    </tbody>
                </table>
            </div>
            <div id="approved" class="tab-pane fade">
                <table id="Tableview" border="1" class="table table-striped">
                    <thead>
                        <tr>
                            @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                            {
                                <th>Name</th>
                            }
                            <th id="header_title">Title</th>
                            <th id="header_days">Days</th>
                            <th id="header_start_date">Start Date</th>
                            <th id="header_end_date">End Date</th>
                            <th id="header_return_date">Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var headerVM in Model)
                        {
                            if (headerVM.status.ToLower() == "approved")
                            {
                                <tr>
                                    @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                                    {
                                        <td>@headerVM.FirstName @headerVM.LastName</td>
                                    }
                                    <td>
                                        <a href="@Url.Action("GetVacationRequest", "VacationRequest", new { headerReqId = headerVM.VacationHeaderReqId })">
                                            @{
                                                @(headerVM.Title)
                                            }
                                        </a>
                                    </td>
                                    <td>@headerVM.NoVacDays</td>
                                    <td>@headerVM.StartDate.ToShortDateString()</td>
                                    <td>@headerVM.EndDate.ToShortDateString()</td>
                                    <td>@headerVM.ReturnDate.ToShortDateString()</td>
                                </tr>
                            }
                         }
                    </tbody>
                </table>
            </div>
            <div id="canceled" class="tab-pane fade">
                <table id="Tableview" border="1" class="table table-striped">
                    <thead>
                        <tr>
                            @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                            {
                                <th>Name</th>
                            }
                            <th id="header_title">Title</th>
                            <th id="header_days">Days</th>
                            <th id="header_start_date">Start Date</th>
                            <th id="header_end_date">End Date</th>
                            <th id="header_return_date">Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var headerVM in Model)
                        {
                            if (headerVM.status.ToLower() == "canceled")
                            {
                                <tr>
                                    @if (profileId == Convert.ToInt32(ProfileUser.Manager))
                                 {
                                        <td>@headerVM.FirstName @headerVM.LastName</td>
                                    }
                                    <td>
                                        <a href="@Url.Action("GetVacationRequest", "VacationRequest", new { headerReqId = headerVM.VacationHeaderReqId })">
                                            @{
                                                @(headerVM.Title)
                                            }
                                        </a>
                                    </td>
                                    <td>@headerVM.NoVacDays</td>
                                    <td>@headerVM.StartDate.ToShortDateString()</td>
                                    <td>@headerVM.EndDate.ToShortDateString()</td>
                                    <td>@headerVM.ReturnDate.ToShortDateString()</td>
                                </tr>
                                                    }
                                                }
                    </tbody>
                </table>
            </div>
        </div>
        <a href="@Url.Action("InsertNewRequest", "VacationRequest", new { userid= userID })" class="btn btn-lg btn-primary">New Request</a>
    </div>
 
    @Styles.Render("~/Content/css/historical-resource.css")
