
<div>
    <section>
        <div class="page-header text-center">
            <h1>@ViewBag.Title</h1>
            <p>Vacation Request</p>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <div id="rowCont" class="container">
                    <div id="reqName" class="col-md-3">
                        <label for="title" class="control-label col-form-label">Request Title</label>
                        <div>
                            <input type="text" class="form-control" data-val="true" data-val-required="Request title is required" id="title">
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                    </div>
                    <div id="leadName" class="col-md-3">
                        <label for="lead" class="control-label">Lead Name</label>
                        <div>
                            <input type="text" class="form-control" data-val="true" data-val-required="Lead name is required" id="lead">
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="lead" data-valmsg-replace="true"></span>
                    </div>
                    <div id="reqStatus" class="col-md-6 text-right">
                        <label class="control-label text-center">
                            Request Status:
                            <span class="label label-default" id="status">New</span>
                        </label>
                    </div>
                </div> <!-- container end -->
            </div> <!-- form-group end -->
            <div class="form-group">
                <div class="container">
                    <div id="vacationarea" class="col-md-2 text-center">
                        <label>
                            Vacation Days:
                            <span id="daysVac" class="label label-info">15</span>
                        </label>
                    </div>
                    <div id="requestarea" class="col-md-2 text-left">
                        <label>
                            Days Requested:
                            <span id="daysReq" class="label label-info">15</span>
                        </label>
                    </div>
                    <div id="checkarea" class="col-md-8 checkbox check-pad">
                        <label id="checktext">
                            <input type="checkbox" id="unpaid">I do not have a project
                        </label>
                    </div>
                </div> <!-- container end -->
            </div> <!-- form-group end -->
            <div class="form-group">
                <div class="container">
                    <div class="col-md-2">
                        <label for="start">Start Date / End Date</label>
                        <input type="text" name="daterange"class="form-control" data-val="true" data-val-required="Start date is required" id="start">
                        <span class="field-validation-valid text-danger" data-valmsg-for="start" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-md-2">
                        <label>Return Date</label>
                        <input type="text" class="form-control" id="return">
                    </div>
                </div> <!-- container end -->
            </div> <!-- form-group end -->
            <div class="form-group container">
                <div class="col-md-2">
                    <span class="label label-warning">All vacations days must be in the same month</span>
                </div>
            </div><!-- form-group end -->
            <div class="form-group">
                <div class="container">
                    <div class="col-md-8">
                        <label for="comments" class="control-label">Comments:</label>
                        <textarea class="form-control" style="min-width:100%;" rows="" id="comments" placeholder="Add a comment or attach lead's approval"></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="comments" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- Alert Box -->
                        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Send Requesst</button>

                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="gridSystemModalLabel">
                                            Send Request?
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                            Make sure everything is in order before sending...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="@Url.Action("HistoricalResource", "VacationRequest")" class="btn btn-primary">Send Request</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- Small modal end -->
                    </div>
                </div> <!-- container end -->
            </div> <!-- form-group end -->
        </form>
    </section>
</div>

@section Styles
{
    @Styles.Render("~/Content/css/vacation_request_resource.css")
    @Styles.Render("~/content/themes/base/daterangepicker.css")
} 

@section Scripts
{

    @Scripts.Render("~/Scripts/vacationsRequest.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/daterangepicker.js")

    <script type="text/javascript">

        $(function() {
            $('input[name="daterange"]').daterangepicker()
        });
    </script>
}