
@model PES.ViewModels.AssignVacationsViewModel


@{
    ViewBag.Title = "VacationAssignation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vacation Assignation</h2>
@*<label for="lead" class="control-label">Lead Name</label>*@
@Html.LabelFor(m => m.SelectedEmployee, new { @class = "control-label" })

@Html.DropDownListFor(m => m.SelectedEmployee, Model.ListEmployee, new { style = "width: 200px;", @class = "MySelect2 leadBox", @id = "lead" })
@*@Html.TextBoxFor(model => model.LeadName, htmlAttributes: new { @class = "form-control leadBox", @id = "lead" })*@


@section Styles
{
    @Styles.Render("~/Content/css/vacation_request_resource.css")
    @Styles.Render("~/Content/themes/base/daterangepicker.css")
    @Styles.Render("~/Content/css/select2.min.css")


}

@section Scripts
{



    @Styles.Render("~/Content/themes/base/daterangepicker.css")
    @Scripts.Render("~/Scripts/select2.min.js")

    @Scripts.Render("~/Scripts/vacationsRequest.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/daterangepicker.js")




    <script>
        $(document).ready(function () {
            $(".MySelect2").select2();

            $("#ListEmployee").select2();
        });
    </script>
}