@model IEnumerable<PES.Models.Employee>
@using PES.Models
@{
    ViewBag.Title = "VacationsReminder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>Vacations Reminder</h2>

<table id="tableViewReminded" border="1" class="table table-striped">
    <thead>
        <tr>

            <th> Vacation Days</th>
            <th>Emploeyee Name</th>
            <th>Send email Reminder</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>  @item.Freedays</td>
                <td> @item.FirstName @item.LastName </td>
                <td>
                    <button id="@item.EmployeeId" class="btn btn-lg btn-default btn-block btn-send-reminder"> Send Reminder </button>
                </td>

            </tr>

        }
    </tbody>
</table>



<!--succesfully send mail modal-->>
<div class="modal fade" id="VaReEmail" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p ALIGN=center><b>Email sent</b></p>
                <br />
                <p ALIGN=center>The Email was succesfully send </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Understand</button>
            </div>
        </div>

    </div>
</div>
<!--Documentar en caso de no acabar--------------------------------------------------------->
<!--failure to send mail modal-->>
<div class="modal fade" id="VaFailedEmail" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p ALIGN=center><b>Email failed to send</b></p>
                <br />
                <p ALIGN=center>Something happened and the mail could´not be sent</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>
<!--Documentar en caso de no acabar--------------------------------------------------------->











@section Styles {
    @Styles.Render("~/Content/ExportDataTables/buttons.dataTables.min.css")
    @Styles.Render("~/Content/datatables/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/css/historical-resource.css")


}


@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/enable-disable.js")
    @Scripts.Render("~/Scripts/VacationsReminder.js")

}