@model PES.ViewModels.VacHeadReqViewModel
<div>
    <section>
        <div class="page-header text-center">
            <h1>Vacation Request</h1>
        </div>
        @using (Html.BeginForm("UpdateRequest", "VacationRequest", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <form id="form" class="form-horizontal">
            <div class="form-group">
                <div class="container flexEnd">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.title, "Request Title", new { @class = "control-label col-form-label" })
                        @if (Model.status.ToLower() == "rejected")
                        {
                            @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.title, new { @class = "form-control", @disabled = "disabled" })
                        }

                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                    <div id="vacationarea" class="col-md-2 text-center">
                        <label>
                            Vacation Days:
                            <span id="daysVac" class="label label-default">@Model.freedays</span>
                        </label>
                    </div>
                    <div id="requestarea" class="col-md-2 text-left">
                        <label>
                            Days Requested:
                            <span id="daysReq" class="label label-default">@Model.noVacDays</span>
                        </label>
                    </div>
                    <div id="reqStatus" class="col-md-5 text-right">
                        <label class="control-label text-center">
                            Request Status:
                            <span class="label label-default" id="status">@Model.status</span>
                        </label>
                    </div>
                </div> <!-- container end -->
            </div> <!-- form-group end -->
            <!-- PARTIAL VIEW WITH REQUEST DATES -->
            
            @Html.Partial("_VacationDatesPartial", Model)

            <div class="form-group">
                <div class="container">
                    <div class="col-md-4">
                        <span class="label label-warning">All vacations days must be in the same month</span>
                    </div>
                </div> <!-- container end -->
            </div><!-- form-group end -->
            <div class="form-group">
                <div class="container flexEnd">
                    <div class="col-md-8">
                        <!--COMMENTS-->
                        @Html.LabelFor(model => model.comments, "Comments", new { @class = "control-label" })
                        @if (Model.status.ToLower() == "rejected")
                        {
                            @Html.TextAreaFor(model => model.comments, new { @class = "form-control", @placeholder = "Add a comment or attach lead's approval", @style = "min-width:100%;" })
                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.comments, new { @class = "form-control", @placeholder = "Add a comment or attach lead's approval", @style = "min-width:100%;", @disabled = "disabled" })
                        }

                        @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
                        
                        <!--REASON-->
                        @if (Model.status.ToLower() == "pending" || Model.status.ToLower() == "approved")
                        {
                            @Html.LabelFor(model => model.replayComment, "Reason of Cancellation", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.replayComment, new { @class = "form-control", @placeholder = "Add a cancel reason...", @style = "min-width:100%;" })
                        }
                        else if (Model.status.ToLower() == "rejected" || Model.status.ToLower() == "canceled")
                        {
                            @Html.LabelFor(model => model.replayComment, "Reason of Cancellation", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.replayComment, new { @class = "form-control", @style = "min-width:100%;", @disabled = "disabled" })
                        }

                        @Html.ValidationMessageFor(model => model.replayComment, "", new { @class = "text-danger" })
                    </div>
                    
                        <!-- BLOCK BUTTONS -->
                    <div class="col-md-4 text-center">
                        @if (Model.status.ToLower() == "pending" || Model.status.ToLower() == "approved")
                        {
                            <a href="@Url.Action("HistoricalResource", "VacationRequest")" class="btn btn-lg btn-default btn-block">Return to Historical</a>
                            <button id="cancelReq" type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">Cancel</button>
                            @Html.Partial("_ModalCancelRequestPartial")
                        }
                        else if (Model.status.ToLower() == "rejected")
                        {
                            <a href="@Url.Action("HistoricalResource", "VacationRequest")" class="btn btn-lg btn-default btn-block">Return to Historical</a>
                            <button id="resendReq" type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">Resend</button>
                        }
                    </div>
                </div> <!-- container end -->
            </div> <!-- form-group end -->
        </form>
        }
    </section>
</div>

@section Styles
{
    @Styles.Render("~/Content/css/vacation_request_resource.css")
    @Styles.Render("~/content/themes/base/daterangepicker.css")
}

@section Scripts
{

    @Scripts.Render("~/Scripts/vacationsRequest.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/daterangepicker.js")

}