@model PES.ViewModels.InsertEmployeeViewModel
@using PES.Models 
@*@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}*@
@{
    ViewBag.Title = "Insert employee";
    //var currentUserProfile = (ProfileUser)Session["UserProfile"];
}
<hr />
<div class="row">
    <div class="col-md-12 well">
      
        <h4>New Employee</h4>
            @using (Html.BeginForm("InsertEmployee", "Employee", FormMethod.Post))
            {
                <hr />
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SelectedProfile, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.SelectedProfile, Model.ListProfiles, new { @class = "inlined form-control", @style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.SelectedProfile, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.SelectedManager, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.SelectedManager, Model.ListManagers, new { @class = "inlined form-control", @style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.SelectedManager, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.HireDate, htmlAttributes: new { @class = "control-label col-md-2"})
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control jqueryui-datepicker" } })
                                @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                
            }
            <div>
                @Html.ActionLink("Back to List", "ViewEmployees")
            </div>
        
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/Scripts/input-datepicker.js")
}




