@model PES.ViewModels.TransferEmployeeViewModel

@{
    ViewBag.Title = "TransferEmployees";
}

<hr />
<div class="row">
    <div class="col-md-12 well">
        @using (Html.BeginForm("ChangeProfile2", "Employee", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h3>Transfer Employees</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row col-md-offset-0">
                    @Html.Hidden("EmailUser", Session["UserEmail"])
                    @Html.Label("Transfer employees between:" )
                    @Html.DropDownListFor(model => model.SelectedProfile, Model.ProfilesList, new { @class = "inlined form-control", @style = "width:100%", @id = "selectedProfile" })
                    @Html.ValidationMessageFor(model => model.SelectedProfile, "", new { @class = "text-danger" })
                    <hr />
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4 id="EmployeeALabel">Manager A</h4>
                        @Html.DropDownListFor(model => model.SelectedManagerA, Model.ManagerAList, new { @class = "inlined form-control", @style = "width:100%", @id = "selectedEmployeeA" })
                        @Html.ValidationMessageFor(model => model.SelectedManagerA, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                    <div class="col-md-offset-7">
                        <h4 id="EmployeeBLabel">Manager B</h4>
                        @Html.DropDownListFor(model => model.SelectedManagerB, Model.ManagerBList, new { @class = "inlined form-control", @style = "width:100%", @id = "selectedEmployeeB" })
                        @Html.ValidationMessageFor(model => model.SelectedManagerB, "", new { @class = "text-danger" })
                        <hr />
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-5">
                        <table class="table-striped" id="ManagerA-table" width="450">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ManagerAEmployeeList)
                                {
                                    <tr>
                                        @Html.Hidden("idEmployee", item.EmployeeId)
                                        <th>
                                            @Html.CheckBox("CheckToTransfer", false)
                                        </th>
                                        <th>
                                            @(item.FirstName + " " + item.LastName)
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">                  
                        <button class="btn-default" id="btnToB" title="Move to Manager B"> > </button>
                        <hr />
                        <button class="btn-default" id="btnToA" title="Move to Manager A"> < </button>
                    </div>
                    <div class="col-lg-5">
                        <table class="table-striped" id="ManagerB-table" width="450">
                            <thead>
                                <tr>
                                    <th>
                                                
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ManagerBEmployeeList)
                                {
                                    <tr>
                                        @Html.Hidden("idEmployee", item.EmployeeId)
                                        <th>
                                            @Html.CheckBox("ChekToTransfer", false)
                                        </th>
                                        <th>
                                            @(item.FirstName + " " + item.LastName)
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <hr />
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "ViewEmployees")
</div>



@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/moveEmployees.js")
    @*<script>
        $(document).ready(function () {
            $("#ManagerA-table").DataTable();
            $("#ManagerB-table").DataTable();
        });
    </script>*@

}
@section Styles{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/ExportDataTables/buttons.dataTables.min.css")>
}