@model IEnumerable<PES.ViewModels.EmployeeDetailsViewModel>
@using PES.Models

<hr />
<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create New", "InsertEmployee")
        </p>
    </div>
    <div class="pull-right">
        <span>
            @Html.CheckBox("ShowEnables", true)
            Show Enables |
        </span>
        <span>
            @Html.CheckBox("ShowDisables", true)
            Show Disables
        </span>
    </div>
    <hr />
    <div class="col-md-12">
        <div class="well responsive">
            <table class="table" id="table-employees">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        Profile
                    </th>
                     <th>
                       Manager
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.EndDate == null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @(item.Profile.Name)
                            </td>
                            if (item.ProfileId == (int)ProfileUser.Director)
                            {
                                <td>
                                    @(item.FirstName + " " + item.LastName)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @(item.Manager.FirstName + " " + item.Manager.LastName)
                                </td>
                            }
                            <td>
                                @Html.ActionLink("Edit", "UpdateEmployee", "Employee", new { id = item.EmployeeId }, null ) |
                                @Html.ActionLink("Details", "EmployeeDetails", "Employee", new { email = item.Email }, null) |
                                @Html.ActionLink("Disable", "DisableEmployee", "Employee", new { id = item.EmployeeId }, new { @id = "DisableOption" + item.EmployeeId})
                            </td>
                         }
                        else
                        {
                            <td style="text-decoration:line-through">
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td style="text-decoration:line-through">
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td style="text-decoration:line-through">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td style="text-decoration:line-through">
                                @(item.Profile.Name)
                            </td>
            
                            <td style="text-decoration:line-through">
                                @(item.Manager.FirstName + " " + item.Manager.LastName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", null) |
                                @Html.ActionLink("Details", "EmployeeDetails", "Employee", new {email = item.Email}, null) |
                                @Html.ActionLink("Enable", "EnableEmployee", "Employee", new { id = item.EmployeeId }, null)
                            </td>
                         }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>*@
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/enable-disable.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#table-employees").DataTable();
        })
    </script>
}

@section Styles{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/ExportDataTables/buttons.dataTables.min.css")
}