@{
    ViewBag.Title = "Home Page";
    int useProfile = (int)Session["UserProfile"];
}
<hr />
<div class="well">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Welcome!</h2>
        </div>
        <hr />
        <div class="col-md-12">
            <label> Choose the system you need </label>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-6">
            @if (useProfile == (int)PES.Models.ProfileUser.Resource)
            {
                <a href="@Url.Action("ChoosePeriod", "PerformanceEvaluation")" class="btn btn-lg btn-primary" style="width: 250px">Performance Evaluation</a>
            }
            else
            {
                <a href="@Url.Action("Index", "PerformanceEvaluation")" class="btn btn-lg btn-primary" style="width: 250px">Performance Evaluation</a>
            }
        </div>
        <div class="col-md-6">
            @if (useProfile == (int)PES.Models.ProfileUser.Resource) 
            {
                <a href="@Url.Action("Index", "Lateness")" class="btn btn-lg btn-primary" style="width: 250px">Lateness Report</a>

            }
            else
            {
                <a href="@Url.Action("latenessMenu", "Menu")" class="btn btn-lg btn-primary" style="width: 250px">Lateness Report</a>
            }
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-pull-6">
            <a href="@Url.Action("HistoricalResource","VacationRequest")" class="btn btn-lg btn-primary" style="width: 250px;">Vacations</a>
        </div>
    </div>
</div>