@model PES.Models.UploadFileViewModel
@{
    ViewBag.Title = "Upload File";
}
<!--<script src="~/Scripts/FileValidation.js"></script>-->
@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success">@TempData["Success"]</p>
}
<p class="text-right">
    <a href="@Url.Action("Logout","LoginUser")">Logout</a>
</p>
<hr />
<div class="jumbotron">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Performance Evaluation System</h2>
            <h4>Upload File</h4>

        </div>
        <br />
    </div>


        @using (Html.BeginForm("UploadFile", "PerformanceEvaluation", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="row text-center">
                <div class="form-group">
                    <p>@(Model.CurrentUser.FirstName + Model.CurrentUser.LastName)</p>
                    @Html.Label("File to upload", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <input type="file" name="fileUploaded" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/comma-separated-values" required  />
                        <select id="SelectedEmployee" name="SelectedEmployee">
                            @foreach (var employee in Model.ListEmployees)
                            {
                                <option value="@employee.EmployeeId">@employee.Email</option>
                            }
                        </select>
                    </div>
                </div>

           </div>
            <div class="row text-center">
                <br />
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-default" value="Load Performance Evaluation" onclick="login()" />
                </div>
            </div>
        }
</div>