@model IEnumerable<PES.Models.Lateness>
@using PES.Models

<br /><br />
@using (Html.BeginForm("UploadLatenessExcel", "Lateness", FormMethod.Post, new { enctype = "multipart/form-data", id = "lateness" }))
{
    <table>
        <tr>
            <td>
                <label class="btn btn-default btn-file">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    SELECT FILE <input type="file" accept=".xls, .xlsx" name="UploadedFile" style="display: none;" onchange="FileSelected(this);">
                </label>
            </td>
            <td>
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" id="saveFile">
                                <span class="glyphicon glyphicon-floppy-disk"></span> SAVE
                            </button>
                        </div>
                        <div class="col-md-6">
                            <div style="width: 300px; padding-top: 8px; color: #E7DA50" class="text-center">
                                <strong>Week(s) from @ViewBag.sunday to @ViewBag.saturday</strong> 
                            </div>
                        </div>
                    </div> 
                }
            </td>
        </tr>
    </table>
  <hr>

} 

<br />

@if (Model != null)
{
    <table id="ExcelTable" class="table table-striped">
        <thead>
            <tr>
                <th>
                    NAME
                </th>
                <th>
                    DATE
                </th>
                <th>
                    TIME
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lateness in Model)
            {
                <tr>
                    <td>
                        @lateness.EmployeeEmail
                    </td>
                    <td>
                        @lateness.Date.ToString("dddd, MMMM dd, yyyy", new System.Globalization.CultureInfo("en-US"))
                    </td>
                    <td>
                        @lateness.Time.ToString("hh:mm:ss tt")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to save this file?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalImported" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Attention!</h4>
            </div>
            <div class="modal-body">
                The week(s) @ViewBag.sunday - @ViewBag.saturday is already saved. 
                Are you sure to replace this week(s)?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmImported">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/ExportDataTables/buttons.dataTables.min.css")

}

@section Scripts {
    @Scripts.Render("~/Scripts/latenessManager.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/ExportDataTables/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/ExportDataTables/jszip.min.js")
    @Scripts.Render("~/Scripts/ExportDataTables/pdfmake.min.js")
    @Scripts.Render("~/Scripts/ExportDataTables/vfs_fonts.js")
    @Scripts.Render("~/Scripts/ExportDataTables/buttons.html5.min.js")
}
